body
{
     overflow-x: hidden;
     box-sizing: border-box;
     color:#505962;
     font-family: sans-serif,'Poppins';
}
.video-background
{  
    position:relative;
    width:100%;
    min-height:100vh;
    color:rbga(0,0,0,0.2);
}
@media(max-width:768px)
{
    
}
